<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Бумага-ножницы-камень</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body class="d-flex flex-column h-100">
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container col-6 justify-content-center">
        <h1 class="mt-5">Камень-ножницы-бумага</h1>
        <h3 class="alert alert-primary" role="alert">
            Game results
        </h3>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Results</h4>
            <hr>
            <div>{{ winnerName(constant('App\\DTO\\GAME::RESULT_PLAYER_ONE_WINS')) }} wins {{ results.playerOneWinsCount }} times</div>
            <div>{{ winnerName(constant('App\\DTO\\GAME::RESULT_PLAYER_TWO_WINS')) }} wins {{ results.playerTwoWinsCount }} times</div>
            <div>{{ winnerName(constant('App\\DTO\\GAME::RESULT_DRAW')) }} fixed {{ results.drawCount }} times</div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-sm border bg-light font-weight-bold">{{ winnerName(constant('App\\DTO\\GAME::RESULT_PLAYER_ONE_WINS')) }}</div>
                <div class="col-sm border bg-light font-weight-bold">{{ winnerName(constant('App\\DTO\\GAME::RESULT_PLAYER_TWO_WINS')) }}</div>
                <div class="col-sm border bg-light font-weight-bold">winner</div>
            </div>
            {% for game in results.games %}
                <div class="row">
                    <div class="col-sm border bg-light">{{ game.playerOneChoice }}</div>
                    <div class="col-sm border bg-light">{{ game.playerTwoChoice }}</div>
                    <div class="col-sm border bg-light">{{ winnerName(game.winner) }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
